[submodule "third-party/limine"]
	path = third-party/limine
	url = https://github.com/Project-Navy/limine.git
[submodule "third-party/echfs"]
	path = third-party/echfs
	url = https://github.com/qword-os/echfs.git
